<div class="welcome">
	<h3>Welcome to the Miami-Dade County Permit Estimator</h3>

	<br>
	<div class="logo-image">
		<a href="www.miamidade.gov"><img src="https://opendata.miamidade.gov/api/assets/F2F272F3-3DB2-48C7-AE47-93B716B4799C"></a>
	</div>
	<br>
	<br>

	<div class="col-md-12">
		<p>Here you will find the latest average costs for Building Permits. For more information, please visit <a href="http://www.miamidade.gov/permits/">Find a Permit - Miami-Dade</a>.</p>

		<p>Use this calculator to estimate the cost of your building permit fees based your project type and related permits. Please note: the amounts provided reflect an estimate of permit costs, and they do not guarantee the total cost of your project. Please visit the <a href="http://www.miamidade.gov/economy/contact.asp">Miami-Dade Permits and Inspection Center</a> to obtain a more comprehensive calculation.</p>

		<p>Please select your project type to proceed.</p>
	</div>
</div>

<% @business_types.each do |business_type| %>
<div class="col-md-6">
	<div class="columns">
		<%= link_to show_permits_path(business_type.name) do %>
		<h4><%= business_type.name %></h4>
		<% end %>
		<div class="description-box">
			<p class="descriptions"><%= business_type.sentence_description %></p>
		</div>
	</div>
</div>
<% end %>
