<div class = "col-xs-3">
	<div class = "side-bar">
		More information
	</div>
</div>

<div class = "col-xs-1">
</div>

<div class="col-xs-5">
	Welcome to the Miami-Dade County Permit Estimator. Here you will find the latest average costs for Building Permits. For more information, please check out <a href="http://www.miamidade.gov/permits/" class="govsite">Find a Permit - Miami-Dade</a>  
	<br>
	<br>
	<br>
	<div>Please select your business category</div>
	<br>
	<br>
	<% @business_types.each do |business_type| %>
	<div class="business-type-box">
		<%= link_to show_permits_path(business_type.name) do %>
		<h3><%= business_type.name %></h3>
		<% end %>
		<div class = "collapse">
		<div class="list-items">
			<ul>
				<% business_type.proposed_use_descriptions.each do |pud| %>
				<li><%= pud %></li>
				<% end %>
			</ul>
			<button type="button" class="btn btn-default pull-right">
				<%= link_to "CONTINUE", show_permits_path(business_type.name) %>
			</button>
			<br>
			<br>

		</div>
		</div>
	</div>
	<!-- LINE BREAK -->
	<br>

	<% end %>
</div>
