<div class = "col-xs-3">
	<div class = "side-bar">
		<p class="info">More Information</p>
		<p><a href="http://www.miamidade.gov/permits/" class="govsite">Find a Permit - Miami-Dade</a></p>
		<p><a href="http://www.miamidade.gov/economy/contact.asp">Miami-Dade Permits and Inspection Center</a></p>
		<p><a href="http://www.miamidade.gov/permits/library/building-permit.pdf">Building Permit Categories</a></p>
	</div>
</div>

<div class = "col-xs-1">
</div>

<div class="col-xs-5">
	Welcome to the Miami-Dade County Permit Estimator. Here you will find the latest average costs for Building Permits. For more information, please visit <a href="http://www.miamidade.gov/permits/">Find a Permit - Miami-Dade</a>.  
	<br>
	<br>
	
	Use this calculator to estimate the cost of your building permit fees based your project type and related permits. Please note: the amounts provided reflect an estimate of permit costs, and they do not guarantee the total cost of your project. Please visit the <a href="http://www.miamidade.gov/economy/contact.asp">Miami-Dade Permits and Inspection Center</a> to obtain a more comprehensive calculation.
	<br>
	<br>
	<div>Please select your project type to proceed.</div>
	<br>
	<br>
	<% @business_types.each do |business_type| %>
	<div class="business-type-box">
		<%= link_to show_permits_path(business_type.name) do %>
		<h3><%= business_type.name %></h3>
		<% end %>
		<div class = "collapse">
		<div class="list-items">
			<ul>
				<% business_type.proposed_use_descriptions.each do |pud| %>
				<li><%= pud %></li>
				<% end %>
			</ul>
			<button type="button" class="btn btn-default pull-right">
				<%= link_to "CONTINUE", show_permits_path(business_type.name) %>
			</button>
			<br>
			<br>
		</div>
		</div>
	</div>
	<br>
	<% end %>
</div>
