<% @business_types.each do |business_type| %>

<div class="business-type-box">
	<%= link_to show_permits_path do %>
	<h3><%= business_type.name %></h3>
	<% end %>

	<div class="list-items">
		<p><%= business_type.categories %> </p>
		<ul>
			<% business_type.proposed_use_descriptions.each do |pud| %>
			<li><%= pud %></li>
			<% end %>
		</ul>
	</div>
</div>

<!-- LINE BREAK -->
<br>

<% end %>