@import "bootstrap-sprockets";
@import "bootstrap";
.nav {
  height: 5.4em;
}
.nav h4{
  color: black;
  margin-left: 2em;
}
a {
  margin-top: -2em;
  color: #1182AC;
}
.side-bar {
  border: 1px solid #C0C0C0;
  background-color: #F9F9F9;
  margin-left: 1.3em;
}
.col-xs-5 .business-type-box {
  border: 1px solid #C0C0C0;
  background-color: #F9F9F9;
}
.business-type-box h3 {
  color: black;
  margin-left:1em;
  text-transform: uppercase;
  font-size: 1.2em;
  height: 1.5em;
}
.list-items li {
  list-style: none;
}
.nav .nav-pills {
  margin-left: auto;
  margin-right: 0;
}
button {
  margin-right: 1.3em;
}
.centered-text {
    text-align:center
}
.col-xs-4 {
  margin-top: 26em;
}
.col-xs-6 {
  border: 1px solid #C0C0C0;
  background-color: #F9F9F9;
  margin-top: 5em;
  margin-left: 2em;
}
.col-xs-12 {
  margin-top: 12em;
  text-align: center;
}