<div class = "col-xs-12">
	<hr>
	<div class="footer">
	© 2015 Miami-Dade County. All rights reserved.
	<br>
	<br>
	This application is open source and freely avalible to the public. If you would like to contribute
	please visit <a href="https://www.github.com/rickygonzjr/mdcpe">here</a>
	</div>
</div>