<header class="navbar">
	<div class="navbar-container">
		<%= link_to "Mips", root_path, id: "logo" %>
		<ul>
			<li><%= link_to "Home", 	root_path %></li>
			<li><%= link_to "Help",		help_path %></li>
			<li><a href="http://www.miamidade.gov/economy/contact.asp">Contact Us</a></li>
		</ul>
	</div>	
</header>