<div class = "col-xs-3">
	<div class = "side-bar">
		<div class="side">
			<p class="info">More Information</p>
			<p><a href="http://www.miamidade.gov/permits/" class="govsite">Find a Permit - Miami-Dade</a></p>
			<p><a href="http://www.miamidade.gov/economy/contact.asp">Miami-Dade Permits and Inspection Center</a></p>
			<p><a href="http://www.miamidade.gov/permits/library/building-permit.pdf">Building Permit Categories</a></p>
		</div>
	</div>
</div>